/* DEFINICOES GERAIS */

body {
	margin:  0px;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: Broadway;
	src: url("./../fonts/broadway.otf");
}

@font-face {
	font-family:  Century Gothic;
	src: url("./../fonts/century-gothic.ttf");
}

/* CABECALHO */

#logo {
	margin-left: 3%;
	font-size: 28px;
	font-family: Broadway;
}

.menu {
	position: fixed;
	top:  0;
	width: 100%;
	background-color: #1e2428;
	color: white;
	z-index: 3;
}

.paginas {
	display: inline-block;
	float: right;
	position: relative;
	margin-top: 2%;
	margin-right: 6%;
}

.paginas * {
	color: white;
	font-weight: bold;
	font-family: Century Gothic;
	font-size: 17px;
}

.separador {
	display: inline-block;
	color: #dc830c;
	font-size: 17px;
}

.menu-item {
	display: inline-block;
	position: relative;
	margin-right: 25px;
	margin-left: 25px;
}

/* CONTEUDO */

.conteudo {
	width: 100%;
	background-image: url("../imgs/background.png");
	margin-top: 5.7%;
}

.titulo {
	line-height: 2%;
	font-size: 60px;
}

.conteudo .apresentacao .texto {
	position: absolute;
	z-index: 2;
	top:  25.7%;
	left: 10%;
	font-family: Century Gothic;
	font-weight: bold;
}

.apresentacao .texto p {
	line-height: 50%;
	font-size: 20px;
}

.conteudo .apresentacao img {
	position: relative;
	top:  5.7%;
	left: auto;
	right: 0%;
	display:  block;
	margin-left: auto;
	margin-right: 0%;
	margin-top: 0%;
	height: 656px;
	width: 845px;
	z-index: 1;
	border-radius: 50%;

}