/* DEFINICOES GERAIS */

body {
	margin:  0px;
	width: 100%;
}

a {
	text-decoration: none;
	color: white;
}

ul 
{
	list-style: none;
	padding: 0;
}

/* FONTES */

@font-face {
	font-family: Broadway;
	src: url("./../fonts/broadway.ttf");
}

@font-face {
	font-family:  Century Gothic;
	font-weight: normal;
	src: url("./../fonts/century-gothic.ttf");
}

@font-face {
	font-family:  Century Gothic;
	font-weight: bold;
	src: url("./../fonts/century-gothic-bold.ttf");
}

/* SCROLLBAR */

::-webkit-scrollbar
{
	width: 10px;
	background-color: #1e2428;
}

::-webkit-scrollbar-thumb
{
	background-color: gray;
	border-radius: 30px;
}

::-webkit-scrollbar-track
{

}

/* CABECALHO */

.cabecalho
{
	position: fixed;
	top:  0;
	width: 100%;
	height: 10%;
	background-color: #1e2428;
}

.menu
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	padding: 0 4%;
}

.logo
{
	color: white;
	font-family: Broadway;
	font-weight: bold;
	font-size: 25px;
}

.paginas > *
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu-item
{
	color: white;
	font-family: Century Gothic;
	font-weight: 900;
	font-size: 15px;
  	font-variant: small-caps;
  	line-height: 0.833;
  	padding: 8px;
}

.separador 
{
	color: #dc830c;
	font-family: Century Gothic;
	font-weight: bold;
	font-size:  15px;
}


/* CONTEUDO */

.principal 
{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo
{
	margin: 2% 4%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* APRESENTACAO */

.apresentacao
{
	width: auto;	
	background-image: url("./../imgs/Corte.png");
}

.apresentacao .titulo
{
	margin-bottom: 32px;
	font-size: 72px;
  	font-family: Century Gothic;
	color: rgb(30, 36, 40);
  	font-weight: bold;
  	line-height: 0.729;
  	text-shadow: 0px 3px 1.7px rgba(0, 0, 0, 0.2);
}

.apresentacao span
{
	color:#dc830c;
}

.apresentacao .texto 
{
	margin-top: 3%;
	font-size: 22.5px;
  	font-family: Century Gothic;
  	color: rgb(30, 36, 40);
  	line-height: 1.2;
  	text-align: left;
  	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
  	width: 520px;
}

.apresentacao .conteudo img 
{
	margin-top: 4%;
	height: 628.36px;
	width: 628.36px;
	border-radius: 50%;
}

/* QUEM SOMOS */

#quem-somos
{
	background-image: url("./../imgs/Cafe.png");
	height: 849px;
}

/* PORTFOLIO */

#portfolio
{
	display: inline-flex;
}

/* ORCAMENTO */

#orcamento
{
	display: inline-flex;
}

/* CONTATO */

#contato
{
	display: inline-flex;
}

/* RODAPE */

.rodape
{
	width: 100%;
	min-height: 30px;
	color: white;
	background-color: black;
	display: inline-flex;
}

